.hide {
    display: none;
}

.sst-m {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.sst-m > * {
    scroll-snap-align: start;
}

.sst-m img {
    max-width: 80%;
    border: 1px solid var(--couleur5);
}

.sst-m img + img {
    margin-left: 1rem;
}


@include breakpoint(medium) {

    .cc-2 {
        column-count: 2;
    }
    
    .cc-gap {
        column-gap: map-get($map: $space, $key: xxl);
    }

}

