.m-0-auto {
    margin: 0 auto;
}

.mt {
    margin-top: map-get($space, xxl);
}

.mb {
    margin-bottom: map-get($space, xxl);
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.p0 {
    padding: 0
}

.gap {
    gap: map-get($space, m);

    @include breakpoint(large) {
        gap: map-get($space, l);
    }
}

.gap2 {
    gap: map-get($space, xl);

    @include breakpoint(large) {
        gap: map-get($space, xxl);
    }
}