.df {
    display: flex;
}
.fd-c {
    flex-direction: column;
}
.jc-c {
    justify-content: center;
}
.jc-sb {
    justify-content: space-between;
}
.jc-fe {
    justify-content: flex-end;
}
.ai-c {
    align-items: center;
}
.fg-1 {
    flex-grow: 1;
}