.df {
    display: flex;
}
.fd-c {
    flex-direction: column;
}
.jc-c {
    justify-content: center;
}
.jc-sb {
    justify-content: space-between;
}
.jc-fe {
    justify-content: flex-end;
}
.ai-c {
    align-items: center;
}
.ai-fs {
    align-items: flex-start;
}
.fg-1 {
    flex-grow: 1;
}
.fs-0 {
    flex-shrink: 0;
}
.fw-w {
    flex-wrap: wrap;
}



@include breakpoint(large) {
    .fd-r--large {
        flex-direction: row;
    }
    .ai-c--large {
        align-items: center;
    }
    .order-1--large {
        order: 1;
    }
}