.text-center {
    text-align: center;
}
.text-right {
    text-align: right
}

.text-typo2 {
    @include typo2;
}

.text-typo3 {
    @include typo3;
}

.text-size0 {
    font-size: 2rem;
}

.text-size1 {
    font-size: 1.2rem;

    @include breakpoint(large) {
        font-size: 1.5rem;
    }
}

.text-size2 {
    font-size: 1rem;

    @include breakpoint(large) {
        font-size: 1.2rem;
    }
}

.text-gras {
    font-weight: 700;
}
.text-fin {
    font-weight: 200;
}

.list li:not(:first-child){
    margin-top: .75rem;
}