.carte {
    overflow:auto;
}

.carte li {
    width: var(--taille);
    background-color: var(--couleur4);
}

.carte li *:not(img):not(.p0) {
    padding: .5rem;
}

.carte img {
    width:100%
}

.carte__titre {
    margin-top: 0;
}

@media (max-width: 600px) {
    .carte {
        margin-right: -$main_marge-x ;
    }
    .carte li {
        min-width:70vw;
    }
    .carte li:last-child {
        margin-right: $main_marge-x ;
    }
}