.carte {
    overflow:auto;
}

.carte li {
    width: var(--taille);
}

.carte img {
    width:100%
}

@media (max-width: 600px) {
    .carte {
        margin-right: -$main_marge-x ;
    }
    .carte li {
        min-width:70vw;
    }
    .carte li:last-child {
        margin-right: $main_marge-x ;
    }
}