.carte {
    overflow:auto;
}

.carte + .carte {
    margin-top: map-get($space, xxl);
}

.carte__item {
    width: var(--taille);
    background-color: var(--couleur4);
    border-radius: .5rem;
}

@media (max-width: 600px) {
    .carte {
        margin-right: -$main_marge-x ;
    }
    .carte > li {
        min-width:70vw;
    }
    .carte > li:last-child {
        margin-right: $main_marge-x ;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .carte > li:last-child {
        margin-right: $main_marge-x;
    }
}