@use "sass:map";
@use '../1-Base/variable/_index' as *;
@use '../1-Base/mixins/_index' as *;

.header {
    position: fixed;
    display: grid;
    width: 100%;
    grid-template-columns: minmax(0, auto) 1fr auto;
    grid-template-rows: auto 1fr;
    background-color: var(--couleur1);
    @include z-index(header);
}

@include breakpoint(mediumDown) {

    .header__marque {
        grid-column: 1/3;
    }

    .header__burger {
        grid-column: 3/4;
    }

    .header__illus {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .header__illus img {
        max-width: 50vw;
    }

    .header__nav {
        grid-column: 2/4;
        grid-row: 2/3;
        margin-top: 3rem;
        text-align: right;
    }

    .header.v_burger-actif {
        height: 100vh;
        align-items: flex-start;
    }

    .btn_color-scheme {
        margin-top: 3rem;
        text-align: right;
    }
    

}

@include breakpoint(large) {
    .header__nav {
        grid-column: 3/4;
    }
}
