*, ::before, ::after {
    box-sizing: border-box;
}

::selection {
    background-color: var(--couleur2);
    color: var(--couleur1);
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    @include typo1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    background-color: var(--couleur1);
    color: var(--couleur2);
    font-weight: 300;
    font-size: 1rem;
}

header {
    padding: $main_marge-x ;
}

main {
    flex: 1 0 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: .5rem $main_marge-x ;
}

footer {
    @include typo2;
    margin-top: map-get($space, xxxl);
    text-align: center;
    font-size: .8rem;
    padding: $main_marge-x ;

    @include breakpoint(large) {
        font-size: 1rem;
    }
}

h1:not([class]),
h2:not([class]),
h3:not([class]) {
    @include typo3;
    font-weight: 200;
}

h3[class] {
    margin: 0;
}

h1:not([class]) {
    font-size: 3rem;
    
    @include breakpoint(large) {
        margin-top: map-get($space, l);
        font-size: 4.2rem;
    }
}

h2:not([class]) {
    font-size: 2rem;

    @include breakpoint(large) {
        font-size: 3rem;
    }
}

h3:not([class]) {
    font-size: 1.5rem;

    @include breakpoint(large) {
        font-size: 1.8rem;
    }
}

p {
    margin: 0;
}

p + p {
    margin-top: map-get($space, m );
}

ul.reset {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

hr {
    border-width: 1px 0 0;
    border-color: transparent;
    margin-top: map-get($space, xxxl);
    margin-bottom: map-get($space, xxxl);
}

a,
button {
    @include typo2;
    color: var(--couleur3);
    text-underline-offset: 0.3rem;
}
a:hover,
a:focus,
button:hover,
button:focus {
    color: var(--couleur2);
    cursor: pointer;
}

button {
    background-color: transparent;
    border: 0 none;
    border-radius: 0;
    text-decoration: underline;
    font-size: 1rem;
}

a[class] {
    text-decoration: none;
}

a[rel="external"]:after {
    content: "↗";
    font-family: system-ui,-apple-system,sans-serif;
    color: var(--couleur2);
}

img {
    max-width: 100%;
    height: auto;
}

figure,
blockquote {
    margin: 0;
}

*:focus {
    outline: none;
}
*:focus-visible {
    outline: 2px solid var(--couleur3);
    outline-offset: .5rem;
}