*, ::before, ::after {
    box-sizing: border-box;
}

::selection {
    background-color: var(--couleur2);
    color: var(--couleur1);
}

body {
    @include typo1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    background-color: var(--couleur1);
    color: var(--couleur2);
    font-weight: 300;
    font-size: 1rem;
}

header {
    padding: 1rem;
}

main {
    flex: 1 0 auto;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: .5rem 1rem;
}

footer {
    @include typo2;
    text-align: center;
    font-size: .8rem;
    padding: 1rem;

    @include breakpoint(large) {
        font-size: 1rem;
    }
}

h1,
h2 {
    @include typo2;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    
    @include breakpoint(large) {
        font-size: 4rem;
    }
}

h2 {
    font-size: 1.1rem;

    @include breakpoint(large) {
        font-size: 1.4rem;
    }
}

ul.df {
    //padding: 0;
    list-style: none;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    color: var(--couleur3);
    font-family: 'Raleway', serif;
    text-underline-offset: 0.3rem;
}
a:hover,
a:focus {
    color: var(--couleur2);
}

img {
    max-width: 100%;
    height: auto;
}

*:focus {
    outline: none;
}
*:focus-visible {
    outline: 2px solid var(--couleur3);
    outline-offset: .5rem;
}