:root {
    --couleur1: #edeee9;
    --couleur2: #375063;
    --couleur3: #0049A5;
    --couleur4: #ffffff;
    --couleur5: #CFD0CA;
}

[data-color-scheme="light"] {
    .show-for-dark {
        display: none;
    }
}

[data-color-scheme="dark"] {

    --couleur1: #172C48;
    --couleur2: #E9EDEE;
    --couleur3: #BDDEFA;
    --couleur4: #144565;
    --couleur5: #13243A;

    .show-for-light {
        display: none;
    }

    img {
        filter: grayscale(30%);
    }

    .icone-dark {
        background-color: var(--couleur3);
        border-radius: 50%;
    }
}
