$space :(
    "xxs":      0,
    "xs":       0,
    "s":        .75rem,
    "m":        1rem,
    "l":        1.25rem,
    "xl":       1.75rem,
    "xxl":      3.125rem,
    "xxxl":     4rem
);


:root {
    --taille: 33.333%;
}

$main_marge-x : 1rem;


.h-100 {
    height: 100%;
}

@include breakpoint(mediumDown) {
    .w-50pct--md {
        width: 50%;
    }
}

@include breakpoint(large) {
    .w-30--large {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .w-50--large {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .w-70--large {
        flex: 0 0 70%;
        max-width: 70%;
    }
}
