$space :(
    "xxs":      0,
    "xs":       0,
    "s":        .75rem,
    "m":        1rem,
    "l":        1.25rem,
    "xl":       1.75rem,
    "xxl":      3.125rem,
    "xxxl":     4rem
);


:root {
    --taille: 33.333%;
}

$main_marge-x : 1rem;
$height-header: 5rem;


.h-100 {
    height: 100%;
}

@include breakpoint(mediumDown) {
    .w-50pct--md {
        width: 50%;
    }
}

@include breakpoint(large) {
    .w-30--large {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .w-50--large {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .w-70--large {
        flex: 0 0 70%;
        max-width: 70%;
    }

    $goutiere-gap2: calc(map-get($space, xxl) / 2);

    .df.gap2 .w-30--large {
        flex: 0 0 calc(30% - $goutiere-gap2);
        max-width: calc(30% - $goutiere-gap2);
    }

    .df.gap2 .w-50--large {
        flex: 0 0 calc(50% - $goutiere-gap2);
        max-width: calc(50% - $goutiere-gap2);
    }

    .df.gap2 .w-70--large {
        flex: 0 0 calc(70% - $goutiere-gap2);
        max-width: calc(70% - $goutiere-gap2);
    }
}
