---
layout: layouts/accueil.njk
title: Page non trouvée
metaDescription: "Erreur 404 : Page non trouvée"
permalink: /404.html
layoutMainClass : df ai-c jc-c
---
{% import "components/macro.njk" as macro %}

{{ macro.accueilH1("Erreur 404") }}
{{ macro.accueilBaseline("Page non trouvée") }}
