---
layout: layouts/base.njk
---

<main>

    <h1>
        {{title}}
    </h1>

    <p>
        {{intro}}
    </p>

    <nav>
        <ul>
            <li>
                <a href="#exemple-realisation">Exemple réalisation</a>
            </li>
            <li>
                <a href="#projet-futur">Projet futur</a>
            </li>
            <li>
                <a href="#a-propos">A propos</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>
        </ul>
    </nav>


    <hr>

    <h2 id="exemple-realisation">Exemple réalisation</h2>

    <ul>
        {% for entry in exempleRealisation %}
            <li>
                <ul>
                    <li>{{ entry.label }}</li>
                    {% if entry.image %}
                        <li>{{ entry.image }}</li>
                    {% endif %}
                    <li>{{ entry.description }}</li>
                </ul>
            </li>
        {% endfor %}
    </ul>


    <hr>

    <h2 id="eprojet-futur">Projet futur</h2>
    {{introProjet}}

    <hr>

    <h2 id="a-propos">A propos</h2>
    {{introAPropos}}


    <hr>

    <h2 id="contact">Contact</h2>
    {{introContact}}


</main>