<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="fr">

	{% include "components/head.njk" %}

	<body>

		<main class="df ai-c jc-c main__conteneur">

			<div class="df ai-c">

				<img class="main__img" src="../images/design/main.png" alt="">
				
				<section class="df fd-c ai-c">

					<h1 class="maintenance__titre">{{ metadata.title }}</h1>

					<h2 class="maintenance__sous-titre text-center mm">
						<strong>{{intro1}}</strong>
						<br>
						~&nbsp;&nbsp;<em>{{intro2}}</em>&nbsp;&nbsp;~
					</h2>
					<ul class="df gap maintenance__liste">
						<li>Massage</li>
						<li>Yoga</li>
						<li>Art</li>
					</ul>

					<p>
						{{contactIntro}}
						<br>
						{{infoTelephone}} : <a href="tel:{{telephoneHref}}">{{telephone}}</a>
						<br>
						{{infoMail}} : <a href="mailto:{{mail}}">{{mail}}</a>
					</p>
					
				</section>

			</div>

		</main>

		<main>

		


			


		</main>

		{% include "components/footer.njk" %}

	</body>

</html>