---
layout: layouts/base.njk
layoutMainClass : df ai-c jc-c accueil__conteneur
noHeader: true
---

<div class="df ai-c">

    <img class="accueil__img" src="../images/media/main.png" alt="">
    
    <section class="df fd-c ai-c">

        <h1 class="text-center maintenance__titre">{{ metadata.title }}</h1>
        <p class="text-center maintenance__baseline">
            {{intro1}}<br>
            {{intro2}}
        </p>

        <ul class="reset df jc-sb maintenance__liste">
            <li>Massage</li>
            <li>Yoga</li>
            <li>Art</li>
        </ul>

        <p class="maintenance__texte">
            {{contactIntro}}
            <br>
            {{infoTelephone}} : <a href="tel:{{telephoneHref}}">{{telephone}}</a>
            <br>
            {{infoMail}} : <a href="mailto:{{mail}}">{{mail}}</a>
        </p>

        {% include "components/btn-color-scheme.njk" %}
        
    </section>

</div>