<button id="js_btn-color-scheme" class="btn_color-scheme mt-xl" aria-label="Changer le jeu de couleur">
    <svg aria-hidden="true" focusable="false" width="40" height="40" class="show-for-light">
        <use xlink:href="#sun"></use>
    </svg>
    <svg aria-hidden="true" focusable="false" width="40" height="40" class="show-for-dark">
        <use xlink:href="#moon"></use>
    </svg>
</button>