{% macro sommaire(liste) %}
    {% include "macros/sommaire.njk" %}
{% endmacro %}




{% macro h2(titre, titreSurcharger, idSurcharger) %}
    {% include "macros/titre-h2.njk" %}
{% endmacro %}




{% macro texteEtVisuel(typeResponsive='false',metadata,typeHeroBanner,titre,titreArt,contenu,srcImage,altImage='',galerie='',hrefLien,labelLien,margetop,inverseBloc,basculeVisibiliteId,basculeVisibiliteLabelOn,basculeVisibiliteLabelOff,basculeVisibiliteImage,basculeVisibiliteContenu) %}
    {% include "macros/texte-et-visuel.njk" %}
{% endmacro %}




{% macro collapse(id,labelOn,labelOff,image,contenu) %}
    {% include "macros/collapse.njk" %}
{% endmacro %}




{% macro galerie(metadata,liste,contact,option) %}
    {% include "macros/galerie.njk" %}
{% endmacro %}




{% macro cartes2(metadata,contact,liste,carteParLigne,imageLarge) %}
    {% include "macros/cartes.njk" %}
{% endmacro %}




{% macro temoignage(metadata,liste) %}
    {% include "macros/temoignage.njk" %}
{% endmacro %}




{% macro contact(contact, espacement, principal) %}
    {% include "macros/contact.njk" %}
{% endmacro %}




{% macro accueilH1(titre) %}
    <h1 class="text-center accueil__titre ts-1">
        {{ titre | safe }}
    </h1>
{% endmacro %}




{% macro accueilBaseline(ligne1, ligne2) %}
    <p class="text-center accueil__baseline ts-2">
        {{ ligne1 | safe }}
        {% if ligne2 %}
            <br>{{ ligne2 | safe }}
        {% endif %}
    </p>
{% endmacro %}