<!-- capture the JS content as a Nunjucks variable -->
{% set js %}
	{% include "js/prefers-color-scheme.js" %}
	{% include "js/menu-burger.js" %}
{% endset %}

<script>{{ js | jsmin | safe }}</script> <!-- feed it through our jsmin filter to minify -->





{% for item in scriptsJs %}

	{% if item == 'horizontalScroll' %}

			{% set horizontalScroll %}
				{% include "js/horizontal-scroll.js" %}
			{% endset %}
			<script>{{ horizontalScroll | jsmin | safe }}</script>

	{% elif  item == 'basculeVisibilite' %}

			{% set basculeVisibilite %}
				{% include "js/panneau-depliant.js" %}
				{% include "js/bascule-visibilite.js" %}
			{% endset %}
			<script>{{ basculeVisibilite | jsmin | safe }}</script>

	{% endif %}

{% endfor %}