---
layout: layouts/page.njk
title: À propos
metaDescription: Plus d'informations sur les origines du projet La Main Bleue fondé par Marion Tampon-Lajarriette pour réunir ses diverses approches liées au geste en conscience
permalink: /a-propos/index.html
eleventyNavigation:
    key: A propos
    order: 4
layoutMainClass : accueil__apropos
---
{% import "components/macro.njk" as macro %}

<h1>À propos</h1>


<div class="df fd-c fd-r--large ai-fs gap2 hide">
    <div class="w-50--large">
        {{ apropos.bloc1 | markdown | safe }}
    </div>
    <div class="w-50--large">
        {{ apropos.bloc2 | markdown | safe }}
    </div>
</div>

<div class="text-center mt">
    <p class="text-size0">
        {{metadata.firstName}}<br class="hide-for-large">&nbsp;~&nbsp;<br class="hide-for-large"><span class="text-typo2">{{metadata.title}}</span>
    </p>
    {{ macro.contact(contact,"<br>","principal") }}
</div>

