---
layout: layouts/page.njk
title: À propos
metaDescription: Plus d'informations sur les origines du projet La Main Bleue fondé par Marion Tampon-Lajarriette pour réunir ses diverses approches liées au geste en conscience
permalink: /a-propos/index.html
eleventyNavigation:
    key: A propos
    order: 4
layoutMainClass : accueil__apropos
---
{% import "components/macro.njk" as macro %}

<h1>À propos</h1>

<div class="df ai-c"  style="display:none">
    <img class="accueil__img" src="{{metadata.urlImage}}main2.png" alt="">
    <div class="df fd-c ai-c">
        <p>Le studio La Main Bleue constitue le point de rencontre des diverses approches liées au corps et au sensible que j’explore depuis plus de dix ans. Issue d’un parcours tout d’abord artistique, je mène mes projets en indépendante depuis l’obtention de mon master en arts visuels en 2008 à Lyon et Genève. Je travaille avec différents médium et crée souvent des environnements immersifs associant images, sons et lumière.</p>
        <p>Ma pratique de longue date de la danse m’a naturellement menée vers le yoga. J’ai suivie diverses formations Hatha et Vinyasa en continu depuis 2010 en Suisse, en Asie et aux Etats Unis et je continue de me former tout en proposant des cours sur donation libre.</p>
        <p>Ces voies d’exploration, bien que diverses, convergent pour moi vers la conscience corporelle, l’intuition et le geste en pleine présence. C’est ce qui m’a poussée vers une formation de massage complète en 2018/2019 (diplômes agréés ASCA et RME en massage classique).</p>
        <p>Basée à Genève, j’y déploie au quotidien les différentes branches de mon engagement pour le sensible et le soin ; lors d’expositions de mes créations, lors de mes cours de yoga ou de mes séances de massage.</p>
        <p>Au plaisir de partager avec vous bientôt sur l’un ou l’ensemble de ces chemins&nbsp;!</p>
    </div>
</div>

<div class="df fd-c fd-r--large ai-fs gap2 hide">
    <div class="w-50--large">
        <p>Le studio La Main Bleue constitue le point de rencontre des diverses approches liées au corps et au sensible que j’explore depuis plus de dix ans. Issue d’un parcours tout d’abord artistique, je mène mes projets en indépendante depuis l’obtention de mon master en arts visuels en 2008 à Lyon et Genève. Je travaille avec différents médium et crée souvent des environnements immersifs associant images, sons et lumière.</p>
        <p>Ma pratique de longue date de la danse m’a naturellement menée vers le yoga. J’ai suivie diverses formations Hatha et Vinyasa en continu depuis 2010 en Suisse, en Asie et aux Etats Unis et je continue de me former tout en proposant des cours sur donation libre.</p>
    </div>
    <div class="w-50--large">
        <p>Ces voies d’exploration, bien que diverses, convergent pour moi vers la conscience corporelle, l’intuition et le geste en pleine présence. C’est ce qui m’a poussée vers une formation de massage complète en 2018/2019 (diplômes agréés ASCA et RME en massage classique).</p>
        <p>Basée à Genève, j’y déploie au quotidien les différentes branches de mon engagement pour le sensible et le soin ; lors d’expositions de mes créations, lors de mes cours de yoga ou de mes séances de massage.</p>
        <p>Au plaisir de partager avec vous bientôt sur l’un ou l’ensemble de ces chemins&nbsp;!</p>
    </div>
</div>

<div class="text-center mt">
    <p class="text-size0">
        Marion<br class="hide-for-large">&nbsp;~&nbsp;<br class="hide-for-large"><span class="text-typo2">La Main Bleue</span>
    </p>
    {{ macro.contact(contact,"<br>","principal") }}
</div>

