---
layout: layouts/page.njk
title: Art
metaDescription: null
date: 2017-01-01T00:00:00.000Z
permalink: /art/index.html
eleventyNavigation:
    key: Art
    order: 3
scriptsJs: 
    - basculeVisibilite
---
{% import "components/macro.njk" as macro %}

<h1>Art</h1>

<p class="cc-2 cc-gap">
    Plus de dix années de création plastique et numérique indépendante. Installations photo, vidéo, céramique, mix media. Expositions personnelles et collectives. Vente en galerie ou en direct à l’atelier. Collaboration avec d’autres domaines; musique, performance, danse…
</p> 


{{ macro.sommaire(["A propos", "Quelques réalisations", "Projet futur", "Me suivre"]) }}

<hr> 

{{ macro.h2("A propos") }}

<div class="cc-2 cc-gap">
    <p>
        Issue d’un parcours scolaire qui a commencé aux Beaux Arts dès 2001, je mène ma carrière d’artiste visuelle en indépendante depuis l’obtention de mes master dans les Hautes écoles d’Art de Genève et Lyon en 2008.
        Le livre « Echos » qui re-parcoure en mots et en images mes dix dernières années de création a été publié en 2020 chez CasaGrande. Il est disponible en ligne et dans certaines librairies d’art en Suisse et en Europe.
    </p>

    <p>
        J’utilise divers medium tels que la photographie et la vidéo, souvent inclues dans des installations immersives associant sons, lumière, impressions et/ou projections sur divers supports (tissu, bois, collages, etc).
        Le corps est de plus en plus central dans l’évolution de mon travail artistique. La figure de la main y est récurrente ; sa chaleur (filmée en caméra thermique), ses tâtonnements (dans une série utilisant l’ancienne technique photo du cyanotype), et toute la symbolique qu’elle charrie de relation à soi, à l’autre et au monde.
        Dernièrement, des fragments du corps envahissent une série de céramiques aux formes artisanales inspirées de traditions ancestrales insulaires des îles volcaniques des Canaries.
    </p>
</div>

<div class="df fd-c fd-r--large ai-c jc-sb gap mt">
    <p class="text-size2 text-typo2">
        Mes projets en cours et à venir poursuivent...
    </p>
    <a href="{{metadata.instagram}}" rel="external">Me suivre sur Instagram</a>
</div>




<hr>


{{ macro.h2("Quelques réalisations") }}



{{ macro.texteEtVisuel(
    titre="Echos",
    contenu="<p>
        Livre d’artiste, 2020<br>
        Editions Casa Grande, 331pages, En/Fr/It/Es <br>
        ISBN 978-88-7713-868-2<br>
        Textes : Mark Lewis, Beau Rhee, Valeria Venditti, Cristòbal Barria, Lucille Ulrich
    </p>",
    srcImage="../images/media/echos-livre.jpg",
    hrefLien="http://www.mottodistribution.com/shop/echos-marion-tampon-lajarriette-fondazione-d-arte-erich-lindenberg-edizioni-casagrande-9788877138682.html",
    labelLien="Comander le livre"
) }}

{{ macro.texteEtVisuel(
    titre="Eventide",
    contenu="<p>
        Série photo, 2018, impressions cyanotypes sur papier graphique, 59x41,5 cm<br>
        Pour les prix et plus d’infos, contactez la galerie Laurence Bernard, Genève
    </p>",
    srcImage="https://freight.cargo.site/w/1250/i/3d4e99c8e1caa9c017387130ba33027346d75e44159c97674642d0f456762c2d/EVENTIDE_MARION-TAMPON-LAJARRIETTERaphaelleMueller-5.jpg",
    hrefLien="mailto:info@galerielaurencebernard.ch",
    labelLien="Galerie Laurence Bernard (mail)",
    margetop="true",
    inverseBloc="true"
) }}

{{ macro.texteEtVisuel(
    titre="Podomorfos",
    contenu="<p>
        Série céramique, 2021, dimensions variables<br>
        Pour plus d’infos sur les ventes directes à l’atelier,<br>
        me contacter
    </p>",
    srcImage="https://freight.cargo.site/w/1250/i/44f95c7767faad36e9b87a05679fd8d1f86178d0dfc28bcc71b037d61f42ee01/4U3A9645ok.jpg",
    hrefLien="mailto:marion.tamponlajarriette@gmail.com",
    labelLien="marion.tamponlajarriette@gmail.com",
    margetop="true"
) }}

<div class="js_bascule-visibilite__zone hide" data-zone="quelques-realisations">
    
    {{ macro.texteEtVisuel(
        titre="Echos",
        contenu="<p>
            Livre d’artiste, 2020<br>
            Editions Casa Grande, 331pages, En/Fr/It/Es <br>
            ISBN 978-88-7713-868-2<br>
            Textes : Mark Lewis, Beau Rhee, Valeria Venditti, Cristòbal Barria, Lucille Ulrich
        </p>",
        srcImage="../images/media/echos-livre.jpg",
        hrefLien="http://www.mottodistribution.com/shop/echos-marion-tampon-lajarriette-fondazione-d-arte-erich-lindenberg-edizioni-casagrande-9788877138682.html",
        labelLien="Comander le livre",
        margetop="true",
        inverseBloc="true"
    ) }}

    {{ macro.texteEtVisuel(
        titre="Eventide",
        contenu="<p>
            Série photo, 2018, impressions cyanotypes sur papier graphique, 59x41,5 cm<br>
            Pour les prix et plus d’infos, contactez la galerie Laurence Bernard, Genève
        </p>",
        srcImage="https://freight.cargo.site/w/1250/i/3d4e99c8e1caa9c017387130ba33027346d75e44159c97674642d0f456762c2d/EVENTIDE_MARION-TAMPON-LAJARRIETTERaphaelleMueller-5.jpg",
        hrefLien="mailto:info@galerielaurencebernard.ch",
        labelLien="Galerie Laurence Bernard (mail)",
        margetop="true"
    ) }}

    {{ macro.texteEtVisuel(
        titre="Podomorfos",
        contenu="<p>
            Série céramique, 2021, dimensions variables<br>
            Pour plus d’infos sur les ventes directes à l’atelier,<br>
            me contacter
        </p>",
        srcImage="https://freight.cargo.site/w/1250/i/44f95c7767faad36e9b87a05679fd8d1f86178d0dfc28bcc71b037d61f42ee01/4U3A9645ok.jpg",
        hrefLien=["mailto:", metadata.mailArt],
        labelLien=metadata.mailArt,
        margetop="true",
        inverseBloc="true"
    ) }}

</div>

<div class="text-center mt">
    <button class="js_panneau-depliant js_bascule-visibilite__btn" data-zone="quelques-realisations">
        <span class="js_bascule-visibilite__passif">Afficher plus</span>
        <span class="js_bascule-visibilite__actif hide">Afficher moins</span>
    </button>
</div>



<hr> 


{{ macro.h2("Projet futur") }}

<p class="cc-2 cc-gap">
    Je désire de plus en plus développer des projets en collaboration avec les univers de la danse, du théâtre et de la musique. Créer des environnements scéniques ou des propositions hybrides pluridisciplinaires m’attire particulièrement, offrant de nouvelles possibilités et de nouveaux défis à ma pratique artistique individuelle en développant ses aspects spatial, corporel et collectif.
</p>

<div class="mt">
    <a href="mailto:{{metadata.mailArt}}" rel="external">Parlons-en</a>
</div>

<hr> 

{{ macro.h2("Me suivre") }}

<div class="df fd-c fd-r--large ai-c gap">
    <p>
        Mes inspirations et étapes de projets en cours&hellip;
    </p>

    <a href="{{metadata.instagram}}" rel="external">Me suivre sur Instagram</a>
</div>
