---
layout: layouts/page.njk
title: Art
metaDescription: Arts visuels, création plastique et numérique indépendante, installations photo, vidéo, céramique, mix media, collaborations avec domaines des arts vivants 
permalink: /art/index.html
eleventyNavigation:
    key: Art
    order: 3
scriptsJs: 
    - horizontalScroll
    - basculeVisibilite
---
{% import "components/macro.njk" as macro %}

<h1>Art</h1>

{{ macro.texteEtVisuel(
    typeResponsive="texteEtVisuel",
    metadata,
    typeHeroBanner="true",
    contenu=art.introduction.introduction | markdown | safe,
    srcImage=art.introduction.image,
    inverseBloc="true"
) }}


{{ macro.sommaire([
    {
        label: 'A propos'
    },
    {
        label: '<span class="hide-for-large">Réalisations</span><span class="hide-for-small">Quelques réalisations</span>',
        id: 'Quelques réalisations'
    },
    {
        label: 'Perspectives'
    },
    {
        label: 'Contact'
    }
]) }}

<hr> 

{{ macro.h2("A propos") }}

<div class="cc-2 cc-gap">
    {{ art.introduction.apropos | markdown | safe }}
</div>

<div class="mt text-right">
    <a href="{{contact.mtl.instagram}}" rel="external" target="_blank" >{{ art.introduction.lien | safe }}</a>
</div>




<hr>


{{ macro.h2("Quelques réalisations") }}

{{ macro.galerie(metadata,art.realisations.projets,contact) }}

<div class="js_bascule-visibilite__zone hide" data-zone="quelques-realisations">
    {{ macro.galerie(metadata,art.realisations.projetsSupplementaire,contact,art.realisations.projetsSupplementaireOption) }}
</div>

<div class="text-center mt">
    <button class="js_panneau-depliant js_bascule-visibilite__btn" data-zone="quelques-realisations">
        <span class="js_bascule-visibilite__passif">Afficher plus</span>
        <span class="js_bascule-visibilite__actif hide">Afficher moins</span>
    </button>
</div>



<hr> 


{{ macro.h2("Perspectives") }}

<div class="cc-2 cc-gap">
    {{ art.perspectives.intro | markdown | safe }}
</div>

<div class="mt">
    <a href="mailto:{{contact.mtl.mail}}" rel="external">{{ art.perspectives.lien | safe }}</a>
</div>

<hr> 

{{ macro.h2("Contact") }}

<div class="df fd-c fd-r--large ai-c--large gap2">
    <div class="w-70--large">
        <p>
            {{ art.contact.site }}&nbsp;<br class="hide-for-large"><a href="{{contact.mtl.site}}">{{contact.mtl.site}}</a>
        </p>
        <p>
            {{ art.contact.instagram }}&nbsp;<br class="hide-for-large"><a href="{{contact.mtl.instagram}}" rel="external" target="_blank">Me suivre sur Instagram</a>
        </p>
        <p>
            {{ art.contact.contact }}&nbsp;<br class="hide-for-large"><a href="mailto:{{contact.mtl.mail}}">{{contact.mtl.mail}}</a>
        </p>
    </div>
    <div class="w-30--large text-center">
        {% image "", [".", art.contact.image] | join, "", "(max-width: 599px) 265px, 284px", "w-50pct--md" %}
    </div>  
</div>

