---
layout: layouts/page.njk
title: Art
metaDescription: Arts visuels, création plastique et numérique indépendante, installations photo, vidéo, céramique, mix media, collaborations avec domaines des arts vivants 
permalink: /art/index.html
eleventyNavigation:
    key: Art
    order: 3
scriptsJs: 
    - horizontalScroll
    - basculeVisibilite
---
{% import "components/macro.njk" as macro %}

<h1>Art</h1>

{{ macro.texteEtVisuel(
    typeHeroBanner="true",
    contenu="<p>
                Plus de dix années de création plastique et numérique indépendante.<br>Installations photo, vidéo, céramique, mix media.<br>Expositions personnelles et collectives.<br>Vente en galerie ou en direct à l’atelier.<br>Collaboration avec d’autres domaines; musique, performance, danse…
            </p>",
    srcImage="../images/media/art/intro.jpg",
    inverseBloc="true"
) }}


{{ macro.sommaire([
    {
        label: 'A propos'
    },
    {
        label: '<span class="hide-for-large">Réalisations</span><span class="hide-for-small">Quelques réalisations</span>',
        id: 'Quelques réalisations'
    },
    {
        label: 'Perspectives'
    },
    {
        label: 'Contact'
    }
]) }}

<hr> 

{{ macro.h2("A propos") }}

<div class="cc-2 cc-gap">
    <p>
        Issue d’un parcours scolaire qui a commencé aux Beaux Arts dès 2001, je mène ma carrière d’artiste visuelle en indépendante depuis l’obtention de mes master dans les Hautes écoles d’Art de Genève et Lyon en 2008.
    </p>
    <p>
        Le livre « Echos » qui reparcourt en mots et en images mes dix dernières années de création a été
publié en 2020 chez CasaGrande. Il est disponible en ligne et dans une sélection de librairies d’art
en Suisse et en Europe.
    </p>

    <p>
        J’utilise divers medium tels que la photographie et la vidéo, souvent incluses dans des installations
immersives associant sons, lumière, impressions et/ou projections sur divers supports (tissu, bois,
collages, etc).
    </p>
    <p>
        Le corps est de plus en plus central dans l’évolution de mon travail artistique. La figure de la main
y est récurrente ; sa chaleur (filmée en caméra thermique), ses tâtonnements (dans une série
utilisant d’anciennes techniques photo), et toute la symbolique qu’elle charrie de relation à soi, à
l’autre et au monde. <br>
Récemment, je développe de nouvelles séries de céramiques intimement liées au corps. Inspiré
de traditions insulaires, je modèle à la main une terre volcanique d’abord préparée par le foulage
aux pieds. Le souvenir du corps y laisse ses traces.
    </p>
</div>

<div class="mt text-right">
    <a href="{{metadata.instagram}}" rel="external" target="_blank" >Suivre mon travail sur Instagram</a>
</div>




<hr>


{{ macro.h2("Quelques réalisations") }}



{{ macro.texteEtVisuel(
    titre="Echos",
    titreArt="true",
    contenu="<p>
        Livre d’artiste, 2020<br>
        Editions Casa Grande, 331pages, En/Fr/It/Es <br>
        ISBN 978-88-7713-868-2<br>
        Textes : Mark Lewis, Beau Rhee, Valeria Venditti, Cristòbal Barria, Lucille Ulrich
    </p>",
    galerie=([
        {
            src:"../images/media/art/echos-cover.jpg",
            alt:""
        },
        {
            src:"../images/media/art/echos-1.jpg",
            alt:""
        },
        {
            src:"../images/media/art/echos-2.jpg",
            alt:""
        },
        {
            src:"../images/media/art/echos-3.jpg",
            alt:""
        },
        {
            src:"../images/media/art/echos-4.jpg",
            alt:""
        }
    ]),
    hrefLien="http://www.mottodistribution.com/shop/echos-marion-tampon-lajarriette-fondazione-d-arte-erich-lindenberg-edizioni-casagrande-9788877138682.html",
    labelLien="Commander le livre"
) }}

{{ macro.texteEtVisuel(
    titre="Eventide",
    titreArt="true",
    contenu="<p>
        Série photo, 2018, impressions cyanotypes sur papier graphique, 59x41,5 cm<br>
        Pour les prix et plus d’infos :
    </p>",
    galerie=([
        {
            src:"../images/media/art/eventide-1.jpg",
            alt:""
        },
        {
            src:"../images/media/art/eventide-2.jpg",
            alt:""
        },
        {
            src:"../images/media/art/eventide-3.jpg"
        },
        {
            src:"../images/media/art/eventide-4.jpg"
        }
    ]),
    hrefLien="https://www.galerielaurencebernard.ch/artists/marion-tampon-lajarriette/biography/",
    labelLien="Contact galerie",
    margetop="true",
    inverseBloc="true"
) }}

{{ macro.texteEtVisuel(
    titre="Tacande",
    titreArt="true",
    contenu="<p>
        Série céramique, 2021, dimensions variables<br>
        Pour plus d’infos sur les ventes directes à l’atelier,<br>
        me contacter
    </p>",
    galerie=([
        {
            src:"../images/media/art/tacande-1.jpg"
        },
        {
            src:"../images/media/art/tacande-2.jpg"
        },
        {
            src:"../images/media/art/tacande-3.jpg"
        },
        {
            src:"../images/media/art/tacande-4.jpg"
        },
        {
            src:"../images/media/art/tacande-5.jpg"
        },
        {
            src:"../images/media/art/tacande-6.jpg"
        }
    ]),
    hrefLien="mailto:marion.tamponlajarriette@gmail.com",
    labelLien="marion.tamponlajarriette@gmail.com",
    margetop="true"
) }}

<div class="js_bascule-visibilite__zone hide" data-zone="quelques-realisations">
    
    {{ macro.texteEtVisuel(
        titre="The Lazy Clock",
        titreArt="true",
        contenu="<p>
            Installation immersive son et lumière, 2019 <br>
            4 hauts-parleurs, tapis, coussins, filtres bleus sur fenêtres, projection vidéo
        </p>",
    galerie=([
        {
            src:"../images/media/art/the-lazy-clock-1.jpg"
        },
        {
            src:"../images/media/art/the-lazy-clock-2.jpg"
        },
        {
            src:"../images/media/art/the-lazy-clock-3.jpg"
        }
    ]),
        hrefLien="https://mariontamponlajarriette.com/",
        labelLien="https://mariontamponlajarriette.com/",
        margetop="true",
        inverseBloc="true"
    ) }}

    {{ macro.texteEtVisuel(
        titre="Hot Marble",
        titreArt="true",
        contenu="<p>
           Installation mix media, 2019 <br>
            Son stéréo, double projection vidéo, tulle, béton, métal
        </p>",
        galerie=([
            {
                src:"../images/media/art/hot-marble-1.jpg"
            },
            {
                src:"../images/media/art/hot-marble-2.jpg"
            },
            {
                src:"../images/media/art/hot-marble-3.jpg"
            },
            {
                src:"../images/media/art/hot-marble-4.jpg"
            }
        ]),
        hrefLien="https://vimeo.com/328250549",
        labelLien="https://vimeo.com/328250549",
        margetop="true"
    ) }}

</div>

<div class="text-center mt">
    <button class="js_panneau-depliant js_bascule-visibilite__btn" data-zone="quelques-realisations">
        <span class="js_bascule-visibilite__passif">Afficher plus</span>
        <span class="js_bascule-visibilite__actif hide">Afficher moins</span>
    </button>
</div>



<hr> 


{{ macro.h2("Perspectives") }}

<p class="cc-2 cc-gap">
    Je souhaite développer davantage les projets en collaboration avec les univers de la danse, du
théâtre et de la musique. Créer des environnements scéniques ou des propositions hybrides
pluridisciplinaires m’attire particulièrement, offrant de nouvelles possibilités et de nouveaux défis à
ma pratique artistique individuelle en développant ses aspects spatial, corporel et collectif.
</p>

<div class="mt">
    <a href="mailto:{{metadata.mailArt}}" rel="external">Parlons-en</a>
</div>

<hr> 

{{ macro.h2("Contact") }}

<div class="df fd-c fd-r--large ai-c--large gap2">
    <div class="w-70--large">
        <p>
            Pour découvrir mon portfolio plus détaillé :&nbsp;<br class="hide-for-large"><a href="https://mariontamponlajarriette.com/">https://mariontamponlajarriette.com/</a>
        </p>
        <p>
            Suivre les étapes de projets en cours :&nbsp;<br class="hide-for-large"><a href="{{metadata.instagram}}" rel="external" target="_blank">Me suivre sur Instagram</a>
        </p>
        <p>
            Me contacter directement :&nbsp;<br class="hide-for-large"><a href="mailto:marion.tamponlajarriette@gmail.com">marion.tamponlajarriette@gmail.com</a>
        </p>
    </div>
    <div class="w-30--large text-center">
        <img src="../images/media/art/atelier.jpg" alt="" class="w-50pct--md">
    </div>  
</div>

