---
layout: layouts/accueil.njk
title: La Main Bleue
metaDescription: Studio basé à Genève où se rencontrent les diverses approches de Marion Tampon-Lajarriette liées au corps et au sensible via le massage,le yoga,les arts visuels 
permalink: /
accueil: "true"
layoutMainClass : df ai-c jc-c
---
{% import "components/macro.njk" as macro %}

{{ macro.accueilH1(metadata.title) }}
{{ macro.accueilBaseline(accueil.baseline1, accueil.baseline2) }}