---
layout: layouts/page.njk
title: La Main Bleue
metaDescription: Studio basé à Genève où se rencontrent les diverses approches de Marion Tampon-Lajarriette liées au corps et au sensible via le massage,le yoga,les arts visuels 
permalink: /
accueil: "true"

intro1: Se reconnecter à soi
intro2: Corps, Esprit & Inspiration
telephone: +41 79 731 23 51
infoMail: mail
contactIntro: "Pour plus d'infos et pour prendre rendez-vous :"
info: "Pour plus d'infos et pour prendre rendez-vous :
  tel/whatsapp/signal/telegrame :"
infoTelephone: tel/whatsapp/signal/telegram
telephoneHref: "41797312351"
mail: hello@lamainbleue.ch
layoutMainClass : df ai-c jc-c accueil__conteneur
---

<div class="df ai-c">

    <img class="accueil__img" src="../images/media/main.png" alt="">
    
    <section class="df fd-c ai-c">

        <h1 class="text-center maintenance__titre">{{ metadata.title }}</h1>
        <p class="text-center maintenance__baseline">
            {{intro1}}<br>
            {{intro2}}
        </p>

        <ul class="reset df jc-sb maintenance__liste">
            <li>
                <a href="/massage">Massage</a>
            </li>
            <li>
                <a href="/yoga">Yoga</a>
            </li>
            <li>
                <a href="/art">Art</a>
            </li>
        </ul>

        <p class="maintenance__texte">
            {{contactIntro}}
            <br>
            {{infoTelephone}} : <a href="tel:{{telephoneHref}}">{{metadata.tel | safe }}</a>
            <br>
            {{infoMail}} : <a href="mailto:{{mail}}">{{mail}}</a>
        </p>
        
    </section>

</div>