---
layout: layouts/page.njk
title: Massage
metaDescription: Massage classique, sportif, thaï, cervico-facial, à Genève centre sur rendez-vous, divers tarifs et durées, reconnu comme pratique complémentaire ASCA RME
permalink: /massage/index.html
eleventyNavigation:
  key: Massage
  order: 1
scriptsJs: 
    - horizontalScroll
    - basculeVisibilite
---
{% import "components/macro.njk" as macro %}

<h1>Massage</h1>

<!--
https://www.11ty.dev/docs/plugins/image/#use-this-in-your-templates

Asynchronous Shortcode dont work with macro
{% image "carte", "./media/image/upload/massage-accueil-credit.jpg", "", "(max-width: 599px) 420px, 290px" %}
{% image "texteEtVisuel", [".", massage.introduction.image] | join, "", "(max-width: 599px) 866px, 459px" %}

Synchronous Shortcode
{% image2 "texteEtVisuel", [".", massage.introduction.image] | join, "", "(max-width: 599px) 866px, 459px" %}
-->
{{ macro.texteEtVisuel(
    typeResponsive="texteEtVisuel",
    metadata,
    typeHeroBanner="true",
    titre=massage.introduction.citation,
    contenu=massage.introduction.introduction | markdown | safe,
    srcImage=massage.introduction.image,
    inverseBloc="true"
) }}


{{ macro.sommaire([
    {
        label: 'Durée & Tarifs',
        id: 'Durée et Tarifs'
    },
    {
        label: '<span class="hide-for-large">Massages</span><span class="hide-for-small">Types de massages</span>',
        id: 'Types de massages'
    },
    {
        label: 'Mon approche'
    },
    {
        label: 'Prendre RDV'
    }
]) }}

<hr>

{{ macro.h2("Durée & Tarifs", "", "Durée et Tarifs") }}

{{ macro.cartes(
    metadata,[
    {
        titre:"Découverte",
        tableau:[{
            duree:'1h15',
            prix:'CH 100'
        }],
        hrefInscription:contact.bleue.mail,
        hrefMail:"true",
        labelLien:"Me contacter",
        image:"icone/main-etoile.png"
    },
    {
        titre:"Bon cadeau",
        contenu:'
            valable 6 mois',
        tableau:[{
            duree:'1h00',
            prix:'CH &nbsp;80'
        },{
            duree:'1h30',
            prix:'CH 120'
        }],
        hrefInscription:contact.bleue.mail,
        hrefMail:"true",
        labelLien:"Me contacter",
        image:"icone/main-cadeau.png"
    },
    {
        titre:"Tarifs habituels",
        tableau:[{
            duree:'1h15',
            prix:'CH 130'
        },{
            duree:'1h30',
            prix:'CH 160'
        },{
            duree:'1h45',
            prix:'CH 180'
        }],
        hrefInscription:contact.bleue.mail,
        hrefMail:"true",
        labelLien:"Me contacter",
        image:"icone/main-horloge.png"
    },
    {
        titre:"Tarifs réduit",
        contenu:'
            Tarif petits revenus, étudiant.x.e, chômage',
        tableau:[{
            duree:'1h15',
            prix:'CH 100'
        }],
        hrefInscription:contact.bleue.mail,
        hrefMail:"true",
        labelLien:"Me contacter",
        image:"icone/main-plante.png"
    }
]) }}

<br>

{% for item in massage.tarif.informations %}
    <div class="df fd-c fd-r--large ai-fs ai-c--large gap">
        {% if loop.index0 == 0 %}
            <img src="{{metadata.urlImage}}icone/main-cadeau.png" alt="" class="carte_img icone-dark">
        {% else %}
            <img src="{{metadata.urlImage}}icone/main-coeur.png" alt="" class="carte_img icone-dark">
        {% endif %}
        <div>
            <h3 class="text-typo3 text-fin">{{item.titre | safe}}</h3>
            {{ item.texte | markdown | safe }}
        </div>
    </div>
{% endfor %}





<hr>

{{ macro.h2("Types de massages") }}

<div class="mb">
    {{ macro.texteEtVisuel(
        metadata,
        contenu='<p>Tous corps et leurs histoires sont bienvenuexs! Séance massage sur mesure; relaxante, sportive, intuitive… Différents tarifs et durées au choix, dans le centre de Genève. Formation reconnue comme pratique complémentaire en médecine douce. </p>

        <p>La palette de soins proposés se combine selon vos envies. Nous choisissons ensemble les techniques et la musique les plus adaptées à vos besoins, ainsi que l’intensité des mouvements et de la pression. Tous les soins sont réalisés avec des huiles biologiques suisses et des produits ayurvédiques médicinaux.</p>',
        srcImage=[metadata.urlImage, "massage/massage.jpg"] | join
    ) }}
</div>

{{ macro.cartes(
    metadata,[
    {
        titre:"Classique",
        contenu:"Suédois-californien<br>Massage complet du corps aux huiles",
        hrefInscription:contact.bleue.mail,
        hrefMail:"true",
        labelLien:"Me contacter",
        image:"icone/yoga.png"
    },
    {
        titre:"Soin",
        contenu:"Massage et soin visage & nuque",
        hrefInscription:contact.bleue.mail,
        hrefMail:"true",
        labelLien:"Me contacter",
        image:"icone/flacon.png"
    },
    {
        titre:"Thaï-Yoga",
        contenu:"Mobilisation douce et étirements<br>Avec habits au sol, ou adapté sur table et combiné avec huiles sur peau nue",
        hrefInscription:contact.bleue.mail,
        hrefMail:"true",
        labelLien:"Me contacter",
        image:"icone/lotus.png"
    }
]) }}

{{ macro.cartes(
    metadata,[
    {
        titre:"Étoile",
        contenu:"Massage des extrémités (mains, pieds, nuque) sans se déshabiller",
        hrefInscription:contact.bleue.mail,
        hrefMail:"true",
        labelLien:"Me contacter",
        image:"icone/etoile.png"
    },
    {
        titre:"Focus Dos",
        contenu:"
            <ul>
                <li>Tonique et apaisant</li>
                <li>Tissus profonds</li>
            </ul>",
        hrefInscription:contact.bleue.mail,
        hrefMail:"true",
        labelLien:"Me contacter",
        image:"icone/pierre.png"
    },
    {
        titre:"Stress & maux de tête",
        contenu:"
            <ul>
                <li>Épaules</li>
                <li>Crâne</li>
                <li>Visage</li>
            </ul>",
        hrefInscription:contact.bleue.mail,
        hrefMail:"true",
        labelLien:"Me contacter",
        image:"icone/diamant.png"
    }
]) }}

<!--
<div class="mt">
    <ul class="df gap2 reset hide-for-small">
        <li><img src="{{metadata.urlImage}}massage/massage-1-667.jpg" alt=""></li>
        <li><img src="{{metadata.urlImage}}massage/massage-2-667.jpg" alt=""></li>
        <li><img src="{{metadata.urlImage}}massage/massage-3.jpg" alt=""></li>
    </ul>
</div>
-->

<hr>

{{ macro.h2("Mon approche") }}

{{ macro.texteEtVisuel(
    metadata,
    contenu='<p>
        Je propose toujours un moment de massage sur mesure et en pleine présence, élaboré en fonction de chaque personne; son histoire, son profil, et ses envies du moment. Basé sur une solide formation suisse reconnue EDUQUA, ASCA et RME, je me forme en continu avec des approches complémentaires venant de différentes cultures pour approfondir l’exploration des arts du massage et élargir la palette de soins que je vous propose.
    </p>',
    srcImage=[metadata.urlImage, "massage/approche-credit.jpg"] | join,
    inverseBloc="true",
    basculeVisibiliteId="formation",
    basculeVisibiliteLabelOn="Voir mes diplômes et formations",
    basculeVisibiliteLabelOff="Masquer les diplômes et formations",
    basculeVisibiliteImage="massage/formation.jpg",
    basculeVisibiliteContenu=([
        {
            date: "2022 ~ Thaï Yoga Massage",
            description: "Master Class avec Simon Park / Liquid Flow Yoga, Munich-Genève (CH)"
        },{
            date: "2021 ~ Cervico-facial",
            description: "Formation en massage cervico-facial, Cursos Wellness-Spa & Osteopatia, Lanzarote (Espagne)"
        },{
            date: "2020 ~ Ayurvédique Abhyanga",
            description: "Stage professionnel en massage à 4 mains / Studio Spiritual & Art Massage, Genève (CH)"
        },{
            date: "2019 ~ Diplôme en Massage Classique",
            description: "320 heures - formation agrée EDUQUA et ASCA<br>
Module spécial Thaï-Yoga massage sur table avec huiles, Académie des Arts Thérapeutiques, Genève (CH)
"
        },{
            date: "2018 ~ Diplôme Anatomie - Physiologie - Pathologies",
            description: "150 heures - certificat accrédité ASCA et conforme RME , Ecole associative ONG « SOSPMM », Carouge"
        },{
            date: "2017 ~ Feet Massage",
            description: "Formation en Feet Massage, Chiang-Maï (Thaïlande)"
        },{
            date: "2015 ~ Reiki Shodden ",
            description: "Formation 1er degré selon Usui, Versoix (CH)"
        }
    ])
) }}


{{ macro.temoignage(
    metadata,[
    {
        srcImage:"icone/planete-1.png",
        contenu:"Prendre un temps pour soi, un pause détente ou dynamisante, un massage selon les envies, les
préférences du moments. Marion est à l'écoute, soucieuse que je passe toujours le meilleur
moment possible en passant tant par l'ambiance musicale que l'aménagement de ma position
pendant le massage, le choix des huiles et les styles de massage proposés. Je ressors de ces
moments relaxée ou reboostée, toujours selon ce que je recherche le jour même.
Un grand merci pour ces beaux moments !",
        nom:"Barbara, 30 ans, enseignante à Confignon"
    },
    {
        srcImage:"icone/planete-2.png",
        contenu:"Vider son esprit un instant, un instant de nirvana absolu. C’est avec Marion que j’ai eu l’occasion d’explorer de nouvelles sensations de sérénité pour ensuite en ressortir éveillée.",
        nom:"Margot, 14 ans, étudiante à Genève"
    },
    {
        srcImage:"icone/planete-3.png",
        contenu:"J’ai pris deux massages avec Marion. Le 1er, sans but particulier, mais je manquais de contacts physiques à cette période alors, avec surprise, lors du massage, j’ai ressenti des frissons aux premiers contacts. Marion a quelque chose dans les doigts qui met rapidement en confiance. On sent son expérience. L’intensité, la force qu’elle exerce sur le corps a été totalement parfait pour moi. Je suis revenue une 2ème fois avec un but précis. Et ça a de nouveau fonctionné très bien. Je l’ai vécu comme un voyage. Elle est accueillante, à l’écoute. Elle est préparée et elle pose l’atmosphère. Le fait de laisser son corps tout entier au massage est une expérience profonde. Depuis, je l’ai recommandée autour de moi à plusieurs personnes. J’y retournerai, c’est certains.",
        nom:"Pascaline, 44 ans, prof de yoga à Genève"
    },
    {
        srcImage:"icone/planete-4.png",
        contenu:"J'ai commencé ces massages cosmiques il y a 8 mois grâce à un bon cadeau de copinexs, et j'ai décidé de continuer régulièrement, 2 fois par mois, avec pour objectif de traiter une addiction et de prendre soin de moi. Je suis super contente des soins que propose Marion. Elle est très à l'écoute de mes besoins et propose une ambiance qui permet un état méditatif profond. On en ressort détendue et rechargée. Le choix de ses musiques, ses huiles ainsi que ses petites cloches annonçant le début et la fin du soin font du bien et permettent un lâcher-prise total. Mention spéciale pour les lingettes de fraîcheur déposées sur les yeux au début du soin. Le paradis cosmique. J'ai tellement adoré que j'ai commencé à offrir autour de moi des bons de massages aux personnes proches ayant besoin urgent de self-care. Merci Marion pour ta dévotion ♡.",
        nom:"Leïla, 37 ans, djette et artiste"
    }
]) }}

<hr>

{{ macro.h2("Prendre RDV", "Prendre un rendez-vous") }}

<div class="df fd-c fd-r--large ai-fs ai-c--large gap2">
    <img class="w-30--large" src="{{metadata.urlImage}}massage/massage-2-667.jpg" alt="">
    <div class="df fd-c gap w-70--large">
        <p>{{ massage.prendreRdv.p1}}</p>
        <p>{{ massage.prendreRdv.p2}}</p>
        <p>{{ massage.prendreRdv.p3}}</p>
    </div>
</div>

<div class="text-center mt">
    {{ macro.contact(contact,"<br>") }}
</div>

<hr>

<!--
Formulaire de contact - séance massage :

Nom, 
prénom
Email
Téléphone

Ma durée idéale :
1h15
1h30
1h45

Ma formule :
Première séance 
Bon cadeau 
Tarifs habituels :
Tarif petits revenus

Mon envie de massage
complet du corps relaxant
soin visage & nuque
Thaï-Yoga sur table
“étoile”  (mains, pieds et nuque)
mal de dos
stress & maux de tête

Mes créneaux préférés 
libre

Commentaire
libre
-->