---
layout: layouts/page.njk
title: Massage
metaDescription: Massage classique, sportif, thaï, cervico-facial, à Genève centre sur rendez-vous, divers tarifs et durées, reconnu comme pratique complémentaire ASCA RME
permalink: /massage/index.html
eleventyNavigation:
  key: Massage
  order: 1
scriptsJs: 
    - horizontalScroll
    - basculeVisibilite
---
{% import "components/macro.njk" as macro %}

<h1>Massage</h1>

{{ macro.texteEtVisuel(
    typeResponsive="texteEtVisuel",
    metadata,
    typeHeroBanner="true",
    titre=massage.introduction.citation,
    contenu=massage.introduction.introduction | markdown | safe,
    srcImage=massage.introduction.image,
    inverseBloc="true"
) }}


{{ macro.sommaire([
    {
        label: 'Durée & Tarifs',
        id: 'Durée et Tarifs'
    },
    {
        label: '<span class="hide-for-large">Massages</span><span class="hide-for-small">Types de massages</span>',
        id: 'Types de massages'
    },
    {
        label: 'Mon approche'
    },
    {
        label: 'Prendre RDV'
    }
]) }}

<hr>

{{ macro.h2("Durée & Tarifs", "", "Durée et Tarifs") }}

{{ macro.cartes2(metadata,contact,massage.tarif.cartes, "4") }}

<br>

{% for item in massage.tarif.informations %}
    <div class="df fd-c fd-r--large ai-fs ai-c--large gap">
        <div class="fs-0">
            {% image "carte", [".", item.image] | join, "", "(max-width: 599px) 420px, 290px", "carte__img icone-dark" %}
        </div>
        <div>
            <h3 class="text-typo3 text-fin">{{item.titre | safe}}</h3>
            {{ item.texte | markdown | safe }}
        </div>
    </div>
{% endfor %}





<hr>

{{ macro.h2("Types de massages") }}

<div class="mb">
    {{ macro.texteEtVisuel(
        typeResponsive="texteEtVisuel",
        metadata,
        contenu=massage.typesMassages.introduction | markdown | safe,
        srcImage=massage.typesMassages.image
    ) }}
</div>

{{ macro.cartes2(metadata,contact,massage.typesMassages.cartes) }}



<hr>

{{ macro.h2("Mon approche") }}

{{ macro.texteEtVisuel(
    typeResponsive="texteEtVisuel",
    metadata,
    typeHeroBanner="true",
    contenu=massage.monApproche.texte | markdown | safe,
    srcImage=massage.monApproche.image,
    inverseBloc="true",
    basculeVisibiliteId="formation",
    basculeVisibiliteLabelOn=massage.monApproche.labelCollapse,
    basculeVisibiliteLabelOff=massage.monApproche.labelCollapseExpanded,
    basculeVisibiliteImage=massage.monApproche.imageCollapse,
    basculeVisibiliteContenu=massage.monApproche.formations
) }}


{{ macro.temoignage(metadata,massage.monApproche.temoignages) }}

<hr>

{{ macro.h2("Prendre RDV", "Prendre un rendez-vous") }}

<div class="df fd-c fd-r--large ai-fs ai-c--large gap2">
    <img class="w-30--large" src="{{ massage.prendreRdv.image }}" alt="">
    <div class="df fd-c gap w-70--large">
        {{ massage.prendreRdv.texte | markdown | safe }}
    </div>
</div>

<div class="text-center mt">
    {{ macro.contact(contact,"<br>") }}
</div>

<hr>

<!--
Formulaire de contact - séance massage :

Nom, 
prénom
Email
Téléphone

Ma durée idéale :
1h15
1h30
1h45

Ma formule :
Première séance 
Bon cadeau 
Tarifs habituels :
Tarif petits revenus

Mon envie de massage
complet du corps relaxant
soin visage & nuque
Thaï-Yoga sur table
“étoile”  (mains, pieds et nuque)
mal de dos
stress & maux de tête

Mes créneaux préférés 
libre

Commentaire
libre
-->