---
layout: layouts/page.njk
title: Massage
metaDescription: null
date: 2017-01-01T00:00:00.000Z
permalink: /massage/index.html
eleventyNavigation:
  key: Massage
  order: 1
scriptsJs: 
    - horizontalScroll
    - basculeVisibilite
---
{% import "components/macro.njk" as macro %}

<h1>Massage</h1>

{{ macro.texteEtVisuel(
    typeHeroBanner="true",
    titre="Le massage est un voyage passionnant. L’occasion d’une reconnexion avec notre corps, nos intuitions et nos émotions enfouies, mais aussi une reconnexion avec les bienfaits du soin et de l’attention.",
    contenu="<p>
                 Le flux des pensées se ralentit, les tensions et fatigues sont reconnues, écoutées et peuvent enfin lâcher prise. La circulation sanguine est stimulée, un sentiment profond de relaxation s’installe. De nouvelles bonnes habitudes s’ancrent petit à petit en nous, amenant plus de conscience dans notre corps et nos postures, et dans l’importance de prendre soin de nous-même au quotidien. 
            </p>",
    srcImage="../images/media/massage1.jpg",
    inverseBloc="true"
) }}


{{ macro.sommaire(["Durée & Tarifs", "Types de massages", "Mon approche", "Prendre RDV"]) }}


<hr>

{{ macro.h2("Durée & Tarifs") }}

{{ macro.cartes([
    {
        titre:"Découverte",
        tableau:[{
            duree:'1h15',
            prix:'CH 100'
        }],
        hrefInscription:["mailto:", metadata.mailArt],
        labelLien:"Me contacter"
    },
    {
        titre:"Bon cadeau",
        contenu:'
            valable 6 mois',
        tableau:[{
            duree:'1h00',
            prix:'CH 80'
        }],
        hrefInscription:["mailto:", metadata.mailArt],
        labelLien:"Me contacter"
    },
    {
        titre:"Tarifs habituels",
        tableau:[{
            duree:'1h15',
            prix:'CH 130'
        },{
            duree:'1h30',
            prix:'CH 160'
        },{
            duree:'1h45',
            prix:'CH 180'
        }],
        hrefInscription:["mailto:", metadata.mailArt],
        labelLien:"Me contacter"
    },
    {
        titre:"Tarifs réduit",
        contenu:'
            Tarif petits revenus / étudiant.x.e / chômage',
        tableau:[{
            duree:'1h15',
            prix:'CH 100'
        }],
        hrefInscription:["mailto:", metadata.mailArt],
        labelLien:"Me contacter"
    }
]) }}


<br>
<h3 class="text-typo3 text-fin">Bon cadeau</h3>

<p class="mt-0">La plus belle des idées de cadeau, pour toute.x.s, valable 6 mois. <br>
Jolis bons cadeaux en version papier à disposition au cabinet ou envoyés par voie postale suite à
<a href="{{metadata.mailArt}}" rel="external">votre commande en ligne</a> ou sur TWINT.</p>






<hr>

{{ macro.h2("Types de massages") }}

<div class="cc-2 cc-gap mb">
    <p>Toux corps et leurs histoires sont bienvenuexs! Séance massage sur mesure; relaxante, sportive, intuitive… Différents tarifs et durées au choix, dans le centre de Genève. Formation reconnue comme pratique complémentaire en médecine douce. </p>

    <p>La palette de soins proposés se combine selon vos envies. Nous choisissons ensemble les techniques et la musique les plus adaptées à vos besoins, ainsi que l’intensité des mouvements et de la pression. Tous les soins sont réalisés sur table confortable avec des huiles biologiques suisses et des produits ayurvédiques médicinaux.</p>
</div>

{{ macro.cartes([
    {
        titre:"Complet",
        contenu:"Massage complet du corps relaxant",
        hrefInscription:["mailto:", metadata.mailArt],
        labelLien:"Me contacter"
    },
    {
        titre:"Soin",
        contenu:"Massage et soin visage & nuque",
        hrefInscription:["mailto:", metadata.mailArt],
        labelLien:"Me contacter"
    },
    {
        titre:"Thaï-Yoga",
        contenu:"Massage Thaï-Yoga sur table <br>Mobilisation douce et étirements; bassin, bras, jambes",
        hrefInscription:["mailto:", metadata.mailArt],
        labelLien:"Me contacter"
    }
]) }}

{{ macro.cartes([
    {
        titre:"Étoile",
        contenu:"
            <ul>
                <li>Mains</li>
                <li>Pieds</li>
                <li>Nuque</li>
            </ul>",
        hrefInscription:["mailto:", metadata.mailArt],
        labelLien:"Me contacter"
    },
    {
        titre:"Focus Dos",
        contenu:"
            <ul>
                <li>Tonique et apaisant</li>
                <li>Tissus profonds</li>
            </ul>",
        hrefInscription:["mailto:", metadata.mailArt],
        labelLien:"Me contacter"
    },
    {
        titre:"Stress & maux de tête",
        contenu:"
            <ul>
                <li>Épaules</li>
                <li>Crâne</li>
                <li>Visage</li>
            </ul>",
        hrefInscription:["mailto:", metadata.mailArt],
        labelLien:"Me contacter"
    }
]) }}

<hr>

{{ macro.h2("Mon approche") }}

{{ macro.texteEtVisuel(
    contenu='<p>
        Je propose toujours un moment de massage sur mesure et en pleine présence, élaboré en
fonction de chaque personne; son histoire, son profil, et ses envies du moment.
Basé sur une solide formation suisse reconnue EDUQUA, ASCA et RME, je continue de me
former en continu avec des approches complémentaires venant de différentes cultures pour
approfondir l’exploration des arts du massage et élargir la palette de soins que je vous propose.
    </p>',
    srcImage="../images/media/massage-main.jpg",
    hrefLien="#",
    labelLien="Voir mes diplômes et formations",
    inverseBloc="true"
) }}


{{ macro.temoignage([
    {
        srcImage:"https://via.placeholder.com/150x150/375063/FFFFFF/?text=photo+profil",
        contenu:"Prendre un temps pour soi, un pause détente ou dynamisante, un massage selon les envies, les
préférences du moments. Marion est à l'écoute, soucieuse que je passe toujours le meilleur
moment possible en passant tant par l'ambiance musicale que l'aménagement de ma position
pendant le massage, le choix des huiles et les styles de massage proposés. Je ressors de ces
moments relaxée ou reboostée, toujours selon ce que je recherche le jour même.
Un grand merci pour ces beaux moments !",
        nom:"Barbara, 30 ans, enseignante à Confignon"
    },
    {
        srcImage:"https://via.placeholder.com/150x150/375063/FFFFFF/?text=photo+profil",
        contenu:"Vider son esprit un instant, un instant de nirvana absolu. C’est avec Marion que j’ai eu l’occasion d’explorer de nouvelles sensations de sérénitude pour ensuite en ressortir éveillée.",
        nom:"Margot, 14 ans, étudiante à Genève"
    },
    {
        srcImage:"https://via.placeholder.com/150x150/375063/FFFFFF/?text=photo+profil",
        contenu:"J’ai pris deux massages avec Marion. Le 1er, sans but particulier, mais je manquais de contacts physiques à cette période alors, avec surprise, lors du massage, j’ai ressenti des frissons aux premiers contacts. Marion a quelque chose dans les doigts qui met rapidement en confiance. On sent son expérience. L’intensité, la force qu’elle exerce sur le corps a été totalement parfait pour moi. Je suis revenue une 2ème fois avec un but précis. Et ça a de nouveau fonctionné très bien. Je l’ai vécu comme un voyage. Elle est accueillante, à l’écoute. Elle est préparée et elle pose l’atmosphère. Le fait de laisser son corps tout entier au massage est une expérience profonde. Depuis, je l’ai recommandée autour de moi à plusieurs personnes. J’y retournerai, c’est certains.",
        nom:"Pascaline, 44 ans, prof de yoga à Genève"
    }
]) }}

<hr>

{{ macro.h2("Prendre RDV", "Prendre un rendez-vous") }}

<div class="cc-2 cc-gap mb">
    <p>Je vous reçois habituellement les lundi, mercredi et vendredi, en journée ou soirée. </p>
    <p>Sur rdv uniquement. Dates et horaires flexibles ; contactez-moi pour trouver le moment idéal.</p>
    <p>En cas de désistement, veuillez annuler votre rendez-vous au moins 48 heures à l’avance afin que d’autres personnes puissent réserver le créneau.</p>
</div>

<div class="text-center mt">
    WhatsApp, Signal, Telegram : <a href="tel:{{metadata.telHref}}">{{metadata.tel}}</a>
    <br>
    Mail : <a href="mailto:{{metadata.mailMain}}">hello (at) lamainbleue (point) ch</a>
</div>

<hr>

<!--
Formulaire de contact - séance massage :

Nom, 
prénom
Email
Téléphone

Ma durée idéale :
1h15
1h30
1h45

Ma formule :
Première séance 
Bon cadeau 
Tarifs habituels :
Tarif petits revenus

Mon envie de massage
complet du corps relaxant
soin visage & nuque
Thaï-Yoga sur table
“étoile”  (mains, pieds et nuque)
mal de dos
stress & maux de tête

Mes créneaux préférés 
libre

Commentaire
libre
-->