---
layout: layouts/page.njk
title: Yoga
metaDescription: null
date: 2017-01-01T00:00:00.000Z
permalink: /yoga/index.html
eleventyNavigation:
    key: Yoga
    order: 2
scriptsJs: 
    - horizontalScroll
---
{% import "components/macro.njk" as macro %}

<h1>Yoga</h1>


{{ macro.texteEtVisuel(
    typeHeroBanner="true",
    titre="Cours de Yoga Hatha Vinyasa pour toutes toux tous !",
    contenu="<p>
                Explorer à la fois souplesse, force, équilibre, concentration, respiration consciente, relaxation guidée. Focus spéciaux pour vos besoins, adaptation tous niveaux. Petits groupes, cours privés. Salles associatives ou plein air. 
            </p>",
    srcImage="../images/media/yoga-mer.jpg",
    inverseBloc="true"
) }}


{{ macro.sommaire(["Cours", "Approche", "Parcours"]) }}


<hr>


{{ macro.h2("Cours") }}

<h3>Cours réguliers</h3>


{{ macro.cartes([
    {
        titre:"Lundi 18h30-19h30",
        contenu:"
            Espace de Quartier Jonction
            <br>
            Rue Michel-Simon 7, 1205 Genève
            <br>
            Prix libre
        ",
        hrefInscription:"https://calendly.com/fr/"
    },
    {
        titre:"Mercredi 12h-13h30",
        contenu:"
            Espace de Quartier Saint-Jean
            <br>
            Quai du Seujet 32, 1201 Genève
            <br>
            Prix libre
        ",
        hrefInscription:"https://calendly.com/fr/"
    },
    {   
        titre:"Vendredi 12h-13h",
        contenu:"
            Espace de Quartier Jonction
            <br>
            Rue Michel-Simon 7, 1205 Genève
            <br>
            Prix libre
        ",
        hrefInscription:"https://calendly.com/fr/"
    }
]) }}


<h3>Cours et ateliers ponctuels</h3>

{{ macro.cartes([
    {
        titre:"En extérieur",
        contenu:"
            Au parc ou au bord de l’eau,
            <br>
            selon météo
            <br><br>
Bouton: (s’inscrire au groupe Signal ou WhatsApp: 0797312351
        "
    },
    {
        titre:"Privé ou entre ami.x.es",
        contenu:"
            Pour une occasion ponctuelle ou régulière
        ",
        hrefInscription:["mailto:", metadata.mailMain],
        labelLien:"Parlez-moi de votre envie"
    },
    {   
        titre:"Ateliers ponctuels",
        contenu:'
            En collaboration avec <a href="#" rel="external">ma soeur</a> (voyage au tambour, soin énergétique de groupe).
            <br>
            Selon calendrier lunaire et évènements particuliers.
        '
    }
]) }}

En savoir plus sur ma soeur-cière : ((lien caché))  http://oliviatamponlajarriette.fr/
Bouton : (S’abonner à la newsletter)


<hr>

{{ macro.h2("Approche") }}


{{ macro.texteEtVisuel(
    contenu='<p>
        Je propose des sessions de 1h de Hatha Vinyasa Yoga. 
        Le niveau d’intensité et les focus anatomiques s’adaptent aux besoins des personnes participantes. En effet, la pratique du yoga que je propose est influencée par <a href="/massage">l’approche thérapeutique de mes massages</a>. <br>
        <br>
        Les exercices de respiration et la relaxation y ont une place très importante, ainsi que l’harmonie et l’improvisation, inspirés par la danse. La convivialité est au coeur de ces séances dont le nombre restreint de participant.x.es permet de se sentir en confiance pour partager et expérimenter ensemble. 
    </p>',
    srcImage="../images/media/yoga-groupe.jpg"
) }}

<hr>

{{ macro.h2("Parcours") }}

{{ macro.texteEtVisuel(
    contenu='<p>
        C’est ma pratique de longue date de la danse qui m’a naturellement menée vers le yoga. J’ai suivie diverses formations en continu depuis 2010 en Suisse, en Thaïlande et aux Etats Unis, avec, notamment, Olivia Tüscher (Hatha Raja Yoga, Liquid Flow) et Yves Vandeplas (Hatha Yoga, Yoga Nidra) à Genève, Anja Maier (Vinyasa, Reiki) en Thaïlande, Nico Luce (Vinyasa, Yin Yoga) à Nyon et à l’international.
    </p>',
    srcImage="../images/media/yoga-parcours.jpg",
    inverseBloc="true"
) }}


<div class="df gap">
    <img src="https://via.placeholder.com/150x150/375063/FFFFFF/?text=photo+profil" alt="">
    <p>
        TEMOIGNAGES : Sophie, Silvia, Suzana? Pascaline, Yves? <br>
        <a href="">Voir plus de témoignage</a>
    </p>
</div>