---
layout: layouts/page.njk
title: Yoga
metaDescription: Cours de hatha vinyasa yoga doux et créatif pour tous niveaux, tous publics, dans le centre de Genève, quartier Jonction & Saint Jean, sur donation - prix libre 
permalink: /yoga/index.html
eleventyNavigation:
    key: Yoga
    order: 2
scriptsJs: 
    - horizontalScroll
    - basculeVisibilite
---
{% import "components/macro.njk" as macro %}

<h1>Yoga</h1>

{{ macro.texteEtVisuel(
    typeResponsive="texteEtVisuel",
    metadata,
    typeHeroBanner="true",
    titre=yoga.introduction.citation,
    contenu=yoga.introduction.introduction | markdown | safe,
    srcImage=yoga.introduction.image,
    inverseBloc="true"
) }}


{{ macro.sommaire([
    {
        label: 'Cours'
    },
    {
        label: 'Approche'
    },
    {
        label: 'Parcours'
    },
    {
        label: 'Contact'
    }
]) }}


<hr>


{{ macro.h2("Cours") }}

<h3>Cours collectifs réguliers</h3>

{{ macro.cartes2(metadata,contact,yoga.cours.reguliers.cartes) }}



<h3>Autres séances</h3>

{{ macro.cartes2(metadata,contact,yoga.cours.ponctuel.cartes,"","true") }}


<hr>

{{ macro.h2("Approche") }}


{{ macro.texteEtVisuel(
    typeResponsive="texteEtVisuel",
    metadata,
    typeHeroBanner="true",
    contenu=yoga.approche.texte | markdown | safe,
    srcImage=yoga.approche.image
) }}

<hr>

{{ macro.h2("Parcours") }}

{{ macro.texteEtVisuel(
    typeResponsive="texteEtVisuel",
    metadata,
    typeHeroBanner="true",
    contenu=yoga.parcours.texte | markdown | safe,
    srcImage=yoga.parcours.image,
    inverseBloc="true"
) }}

{{ macro.collapse(
    id="formationYoga",
    labelOn=yoga.parcours.labelCollapse,
    labelOff=yoga.parcours.labelCollapseExpanded,
    image=yoga.parcours.imageCollapse,
    contenu=yoga.parcours.formations
) }}

{{ macro.temoignage(metadata,yoga.parcours.temoignages) }}


<hr>

{{ macro.h2("Contact") }}

{{ macro.texteEtVisuel(
    typeResponsive="texteEtVisuel",
    metadata,
    typeHeroBanner="true",
    contenu=[yoga.contact.texte | markdown | safe, macro.contact(contact, "<br><br>")] | join("<br>"),
    srcImage=yoga.contact.image,
    inverseBloc="true",
    maxWidth="300"
) }}