@use "sass:map";

$z-index: (
  header     : 2,
  z1         : 1,
  z0         : 0,
);

@function f-z-index($key) {
  @return map.get($z-index, $key);
}

@mixin z-index($key) {
  z-index: f-z-index($key);
}