---
layout: layouts/base.njk
layoutMainClass : df ai-c accueil__conteneur
---

<div class="df ai-c">

    <img class="accueil__img--large" src="{{metadata.urlImage}}main.png" alt="">

    <div>
        {{ layoutContent | safe }}

        <ul class="reset df jc-sa accueil__liste ts-2">
            <li>
                <a href="/massage">Massage</a>
            </li>
            <li>
                <a href="/yoga">Yoga</a>
            </li>
            <li>
                <a href="/art">Art</a>
            </li>
        </ul>

    </div>
</div>