<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %}data-color-scheme="light" lang="fr">

    {% include "layouts/head.njk" %}

    <body>

        {% if noHeader == true %}
        {% else %}
            <header class="jc-sb ai-c gap header" id="js_header">

                <a class="header__marque text-size0 text-typo2" href="{{ '/' | url }}">{{ metadata.title }}</a>

                <button class="header__burger burger hide-for-large" data-statut="hide" id="js_burger" aria-label="Afficher le menu" aria-expanded="false" data-label="Fermer le menu"></button>  

                <nav class="df fd-c fd-r--large gap header__nav hide-for-small" id="js_nav">

                    {% include "components/navigation-principal.njk" %}
                
                    {% include "components/btn-color-scheme.njk" %}

                </nav>

                <div class="header__illus hide-for-small hide-for-large" id="js_nav-illus">
                    <div class="show-for-light">
                        {% image "", "./media/image/main-l.png", "", "(max-width: 440px) 270px, 440px", "" %}
                    </div>

                    <div class="show-for-dark">
                        {% image "", "./media/image/main-d.png", "", "(max-width: 440px) 270px, 440px", "" %}
                    </div>
                </div> 
                
            </header>
        {% endif %}

        <main class="{{layoutMainClass}}" id="js_main">
            {{ layoutContent | safe }}
        </main>

        {% include "layouts/footer.njk" %}

    </body>

</html>
