<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %}data-color-scheme="light" lang="fr">

    {% include "components/head.njk" %}

    <body>

        {% if noHeader == true %}
        {% else %}
            <header class="df fd-c fd-r--large jc-sb ai-c gap">

                <a class="text-size0 text-gras text-typo2" href="{{ '/' | url }}">{{ metadata.title }}</a>

                <nav class="df fd-c fd-r--large gap">

                    {% include "components/navigation-principal.njk" %}
                
                    {% include "components/btn-color-scheme.njk" %}

                </nav>
                
            </header>
        {% endif %}

        {{ layoutContent | safe }}

        {% include "components/footer.njk" %}

    </body>

</html>
