<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %}data-color-scheme="light" lang="fr">

    {% include "components/head.njk" %}

    <body>

        {% if noHeader == true %}
        {% else %}
            <header class="df jc-sb">
                <em>
                    <a href="{{ '/' | url }}">{{ metadata.title }}</a>
                </em>
                {% include "components/nav.njk" %}
            </header>
        {% endif %}

        {{ layoutContent | safe }}

        {% include "components/footer.njk" %}

    </body>

</html>
