<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or metadata.description }}">

  <link rel="stylesheet" href="/style.css" />

  <link rel="apple-touch-icon" sizes="180x180" href="{{ metadata.faviconUrl }}apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ metadata.faviconUrl }}favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ metadata.faviconUrl }}favicon-16x16.png">
  <link rel="manifest" href="{{ metadata.faviconUrl }}site.webmanifest">
  <link rel="mask-icon" href="{{ metadata.faviconUrl }}safari-pinned-tab.svg" color="#4f7a9f">
  <meta name="msapplication-TileColor" content="#4f7a9f">
  <meta name="theme-color" content="#ffffff">

  <meta name="copyright" content="{{ metadata.siteName }}">
  <meta name="author" content="{{ metadata.siteName }}">

  {% if date %}
    <meta name="date" content="{{ date }}">
  {% endif %}

  <meta name="robots" content="index,follow">

  <link rel="canonical" href={{ metadata.url }}{{ page.url | url }}>

  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>

</head>
