---
layout: layouts/base.njk
section: home
---

<div class="home">
    <img src="images/design/main.png" alt="">
    <div class="content">
        {{ layoutContent | safe }}
        <a href="mailto:hello@lamainbleue.ch">hello@lamainbleue.ch</a>
    </div>
</div>


