.accueil {
    display: grid;
    grid-template-columns: minmax(100%, 330px);
    align-items: center;
}

@include breakpoint(mediumDown) {
    .accueil > * {
        grid-column:1/2;
        grid-row: 1/2;
    }
}

@include breakpoint(large) {
    .accueil {
        grid-template-columns: 340px 383px;
    }
}

.accueil__img {
    width: 90%;
}

@include breakpoint(large) {
    .accueil__img {
        width: 340px;
    }
}

@include breakpoint(mediumDown) {

    .ts-1::selection,
    .ts-2::selection,
    .ts-2 ::selection {
        text-shadow: none;
    }

    .ts-1 {
        text-shadow: 2px 2px 2px var(--couleur1), -2px -2px 2px var(--couleur1);
    }
    .ts-2 {
        text-shadow:
            3px 3px 5px var(--couleur1),
            -1px -1px 5px var(--couleur1),  
            1px -1px 5px var(--couleur1),
            -1px 1px 5px var(--couleur1),
            1px 1px 5px var(--couleur1);
    }
}

.accueil__titre {
    @include typo2;
    font-size: 3rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;

    @include breakpoint(large) {
        font-size: 3.5rem;
    }
}

.accueil__baseline {
    @include typo2;
    margin-top: map-get($space, xxl);
    margin-bottom: 0;
    font-size: 1.3rem;
    font-style: normal;

    @include breakpoint(large) {
        font-size: 1.5rem;
    }

}

ul.accueil__liste {
    @include typo2;
    width: 100%;
    margin-top: map-get($space, xxxl);
    margin-bottom: map-get($space, xxl);
    position: relative;
    gap: map-get($space, s);
    padding: 0;
    font-size: 1.1rem;

    @include breakpoint(large) {
        font-size: 1.3rem;
    }
}