$burger-espacement: 6px;
$burger-translate: calc($burger-espacement/2);

.burger {
    background: transparent;
    border-radius: 0;
    border: 0 none;
}

.burger:before,
.burger:after {
    content: '';
    display: block;
    width: 25px;
    height: 2px;
    background-color: var(--couleur2);
    transition: transform .3s ease;
}

.burger:before {
    margin: $burger-espacement 0;
}

.burger:after {
    margin: $burger-espacement 0;
}

.burger.v_actif:before {
    transform: rotate(45deg) translate($burger-translate, $burger-translate);
}

.burger.v_actif:after {
    transform: rotate(-45deg) translate($burger-translate, -$burger-translate);
}
