.maintenance__titre {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 0;

    @include breakpoint(large) {
        font-size: 3.5rem;
    }
}

.maintenance__ligne1 {
    @include typo2;
    font-size: 1.3rem;
    letter-spacing: .4rem;
    margin: 0;

    @include breakpoint(large) {
        font-size: 1.5rem;
        letter-spacing: .45rem;
    }
}

.maintenance__ligne2 {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 1.2rem;

}

.maintenance__liste {
    @include typo2;
    position: relative;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    padding: 0 map-get($space, s ) 10px;
    font-size: 1.1rem;
}

.maintenance__tilde {
    margin: 0;
    font-size: 1.2rem;
}

.maintenance__texte {
    margin-top: 50px;
    margin-bottom: map-get($space, xxl );
}